*{
    padding: 0;
    margin: 0;
    /*border: 1px solid black;*/
    text-align: center;
    padding: auto;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100wh;
    background: rgb(16, 20, 27);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 530px;
    width: 350px;
    background-color: #1F2937;
    border-radius: 5px;
}

.header{
    flex: 0.4;
    align-self: stretch;
    background-color:#1F2937 ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #9F1239;
    font-size: large;
    font-weight: bold;
    gap: 8px;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.755);
    text-decoration: none;
    font-size: 15px;
}
a:hover{
    color: rgb(218, 58, 58);
}

.logo{
    height: 25px;
    width: 25px;
    padding: 3px;
    margin-left: 5px;
}

.top-section{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    background-color: #9F1239;
}
.section-header{
    font-weight: 800;
    font-size: 20px;
    color: white;
}

.input-el{
    height: 60px;
    max-width: 100px;
    background-color:#9F1239;
    border: 1px solid white;
    border-radius: 2px;
}

.input-el:hover {
    background-color: #911818;
}
.input-el[type="text"]{
    font-size: 30px;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

button{
    width: 100px;
    padding: 9px 10px;
    border: 0px;
    border-radius: 3px;
    font-weight: bold;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.775);
    color: #911818;
}

.bot-section{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    color: #CCC1FF;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-section{
    align-self: stretch;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #273549;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: 18px;
}

p{
    color: white;
    font-size: 13px;
    margin: 5px 0px;
}